@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    background: rgb(131, 58, 176);
    background: linear-gradient(
        135deg,
        rgba(131, 58, 176, 1) 25%,
        rgba(63, 94, 251, 1) 75%
    );
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    color: #fff;
    display: block;
    text-align: center;
    font-size: 2.04em;
}

.container {
    align-items: center;
}

.planes {
    text-align: center;
    display: flex;
}

.plan-container {
    margin: 20px 5px;
    padding: 10px 10px;
    background-color: #5f5d5d;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2),
        0 5px 5px 0 rgba(17, 17, 17, 0.24);
    border: 2px solid black;
    border-radius: 10px;
    color: white;
}

.plan {
    padding: 5px;
}

.lista {
    list-style: none;
}

.lista li {
    margin: 6px;
}

.lista p {
    padding: 5px;
}

.boton {
    outline: 0;
    background: linear-gradient(
        135deg,
        hsl(277, 50%, 46%) 25%,
        rgb(7, 42, 221) 75%
    );
    width: 20%;
    border: 0;
    padding: 1px;
    border-radius: 7px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    text-align: center;
    margin: 1% 40%;
    display: block;
}

.boton a {
    font-size: 1em;
    border: 0;
    background: transparent;
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

.titulo {
    text-align: center;
    color: white;
    font-size: 40px;
    margin: 20px;
}
