@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background: linear-gradient(135deg,
            rgba(131, 58, 176, 1) 25%,
            rgba(63, 94, 251, 1) 75%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header {
    color: #fff;
    text-align: center;
    font-size: 2.04em;
}

.container {
    align-items: center;
    height: 78%;
    width: 800px;
    border: 1px solid #333;
    border-radius: 24px;
}

.planes {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.plan-container {
    margin: 20px 5px;
    padding: 10px 10px;
    background-color: #333;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2),
        0 5px 5px 0 rgba(17, 17, 17, 0.24);
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    flex-basis: 300px;
    width: 400px;
    margin: 0 25px;
    flex-grow: 1;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.plan-container.active {
    transform: scale(1.05);
}

.plan {
    padding: 5px;
}

.list {
    list-style: none;
}

.list li {
    margin: 6px;
}

.list p {
    padding: 5px;
}

.button {
    outline: 0;
    background: linear-gradient(135deg,
            hsl(277, 50%, 46%) 25%,
            rgb(7, 42, 221) 75%);
    width: 25%;
    border: 0;
    padding: 12px;
    border-radius: 7px;
    transition: all 0.3s ease;
    cursor: pointer;
    text-align: center;
    margin: 5% 40%;
    display: block;
}

.button a {
    font-size: 1em;
    border: 0;
    background: transparent;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

.title {
    text-align: center;
    color: white;
    font-size: 40px;
    margin: 20px;
}

@media only screen and (max-width: 600px) {
    .button {
        width: 80%;
        margin: 2% 10%;
    }
}